/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 450px!important

/** div[class*="language-"]
  pre, pre[class*="language-"]
    max-height: 300px;
    overflow: scroll;
    **/

.theme-default-content:not(.custom) 
    max-width: 980px;